@model GummyBearApp.Models.GummyBear

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.GummyBearId)

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Country)
    @Html.TextBoxFor(model => model.Country)

    @Html.LabelFor(model => model.Cost)
    @Html.TextBoxFor(model => model.Cost)

    @Html.LabelFor(model => model.ImageSrc)
    @Html.TextBoxFor(model => model.ImageSrc)

    @Html.LabelFor(model => model.ImageAlt)
    @Html.TextBoxFor(model => model.ImageAlt)

    <input class="btn btn-success" type="submit" value="Save Changes" />
}

<p>@Html.ActionLink("Go Back", "Index")</p>