@model IEnumerable<GummyBearApp.Models.GummyBear>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Browse our collection of gummy bears. They're delicious!</h1>

@foreach (var bear in Model)
{
    <div class="product-holder col-md-3">
        <a href="Products/Detail/@bear.GummyBearId">
            <div class="image-holder">
                <img src="@bear.ImageSrc" alt="@bear.ImageAlt" />
            </div>
        </a>
        <ul>
            <li>
                @Html.DisplayFor(model => bear.Name)
            </li>
            <li>
                @Html.DisplayFor(model => bear.Cost)
            </li>
            <li>
                @Html.DisplayFor(model => bear.Country)
            </li>

        </ul>
        <br />
        <a href="Products/Edit/@bear.GummyBearId"><button class="btn btn-warning">Edit this bear</button></a>
    </div>

}